
<div class="container">
  <div class="container-content">
    <div class="container-title">
      <h1>LISTA DE COMPRAS</h1>
    </div>

    <app-search-input
    (textEmitter)="shoppingList.addItem($event)"
    placeHolder="Ex: Ovos">
    </app-search-input>

    <ul *ngIf="shoppingList.items.length > 0">
      <app-shopping-item
      *ngFor="let item of shoppingList.items"
      [item]="item"
      (methodEmitter)="shoppingList.removeItem(item)"
    >
    </app-shopping-item>
    </ul>

    <p *ngIf="shoppingList.items.length === 0">Não há itens na lista.</p>
    <button class="button-remove" (click)="shoppingList.clearList()" *ngIf="shoppingList.items.length > 0">Limpar Lista</button>
  </div>
</div>

