
    <div class="container">
      <h1>Lista de Compras</h1>
      <form (submit)="$event.preventDefault(); addItem()">
        <input type="text" [(ngModel)]="newItemText" name="newItemText" placeholder="Ex: Ovos">
        <button type="submit">Adicionar</button>
      </form>

      <ul *ngIf="items.length > 0">
        <li *ngFor="let item of items">
          {{item.name}} x {{item.quantity}}
          <button (click)="decreaseQuantity(item)">
            <i class="fi fi-rs-minuss"></i>
          </button>
          <button (click)="increaseQuantity(item)">
            <i class="fi fi-rs-plus"></i>
          </button>
          <button (click)="removeItem(item)">
            <i class="fi fi-rs-trash"></i>
          </button>
        </li>
      </ul>

      <p *ngIf="items.length === 0">Não há itens na lista.</p>
      <button (click)="clearList()" *ngIf="items.length > 0">Limpar Lista</button>
    </div>

