html, body{
  margin: 0;
  height: 100%;
}


.container {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
}

input {
  flex: 1;
  margin-right: 10px;
}

button {
  margin: 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

button:hover {
  color: #0056b3;
}

button:disabled {
  cursor: not-allowed;
}
