.custom-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  display: flex;
}

.custom-button:disabled{
  opacity: 0.5;
  cursor: default;
}

.custom-button :disabled:hover{
  opacity: 0.5;
  background-color: inherit;
}

.primary {
  color: red;
  background-color: yellow;
}

.secondary {
  color: purple;
  background-color: blue;
}

.button-with-icon {
  gap: 10px;
}

.button-without-icon {
  padding-left: 20px;
}

.custom-button:not(:disabled):hover {
  opacity: 0.4;
}

:host(){
  width: fit-content;
}

.disabled {
  opacity: 0.5;
}
