html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #d8d8d8;
}
*{
  margin:0;
  border:none;
  padding:0;
  box-sizing: border-box;
  outline: none;
}
app-root {
  width: 100%;
  /* height: 100vh; */
  /* background-color: #d8d8d8; */
}
